@model CET.Models.Ticket

<h1>CET @Model.Id</h1>

<table>
	<tr>
		<td><label>Applcation Name</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
		<td><label>TicketType</label>      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
		<td><label>Urgency</label>         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
		<td><label>Status</label>          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
		<td><label>CreateDate</label>      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	</tr>
	<tr>
		<td>@Model.Application</td>
		<td>@Model.TicketType</td>
		<td>@Model.Urgency</td>
		<td>@Model.Status</td>
		<td>@Model.CreateDate</td>
	</tr>
</table>
<p>
	<br>
	<br>
	<label>Description</label>
	<br>
	@Model.Description
</p>