@model CET.Models.Ticket

<h1>CET @Model.Id</h1>

<div>@Model.Application</div>
<div>@Model.TicketType</div>
<div>@Model.Status</div>
<div>@Model.Urgency</div>
<div>@Model.CreateDate</div>

<a asp-action="Index" asp-controller="Home">Home</a>